general:
	title: General
	options:

		layoutType:
			type: variable
			default: layout-wide

		websiteWidth:
			label: Website Width
			type: range
			unit: px
			min: 900
			max: 1800
			step: 20
			default: 1360
			help: "Width of the website layout"

		leftSidebarWidth:
			label: Left Sidebar Width
			type: range
			unit: %
			min: 10.0
			max: 30.0
			step: 0.1
			default: 30.0

		rightSidebarWidth:
			label: Right Sidebar Width
			type: range
			unit: %
			min: 10.0
			max: 30.0
			step: 0.1
			default: 30.0

		sidebarGap:
			type: variable
			default: 4.4

		progressivePageLoading:
			label: Progressive Page Loading
			type: on-off
			default: off
			help: "Enable or disable progressive loading of page"

		#scrollMenu:
		#	label: Scroll Main Menu
		#	type: on-off
		#	default: off
		#	help: "Enable or disable main menu to be scrollable"

		#scrollSidebar:
		#	label: Scroll Left Sidebar
		#	type: on-off
		#	default: off
		#	help: "Enable or disable left sidebar to be scrollable"


		- section(title: 'Main Theme Colors and Backgrounds')

		favicon:
			label: Favicon
			type: image
			default: "/design/img/favicon.png"
			help: "Select image used as Favicon"

		mainbg:
			label: Website Background
			type: background
			default:
				color: '#ffffff'
				opacity: 100%
				image: ''
				repeat: repeat
				position: top center
				scroll: scroll
			help: "Look of section background. Color, opacity and background image."
			required: true

		mainbgImg:
			label: Background Image for Mobile and Tablet.
			type: on-off
			default: on
			help: "Enable or disable background image for Mobile and tablet."

		themeColor:
			label: Theme Color
			type: color
			default: '#464646'
			help: "Main theme color"
			required: true

		pageBgColor:
			label: Page Background
			type: color
			default: '#ffffff'
			opacity: 80%
			help: "Color and opacity of page background"
			required: true

		titColor:
			label: Titles
			type: color
			default: '#333333'
			help: "Color of titles text"
			required: true

		txtColor:
			label: Text
			type: color
			default: '#4e4e4e'
			help: "Color of main text"
			required: true

		lnkColor:
			label: Links
			type: color
			default: '#d30000'
			help: "Color of links"
			required: true

		hvrColor:
			label: Links Hover
			type: color
			default: '#800303'
			help: "Color of links with mouse cursor over"
			required: true

		decColor:
			label: Decoration
			type: color
			default: '#d30000'
			help: "Decorative color of elements on website"
			required: true

		linesColor:
			label: Lines
			type: color
			default: '#dddddd'
			help: "Color of lines"
			required: true

		lightObj:
			label: Lighter Objects
			type: color
			default: '#ffffff'
			opacity: 90%
			help: "Color and opacity to make objects lighter"
			required: true

		darkObj:
			label: Darker Objects
			type: color
			default: '#656565'
			opacity: 20%
			help: "Color and opacity to make objects darker"
			required: true

header:
	title: Header
	options:

		#headerType:
		#	label: Header Type
		#	type: image-radio
		#	checked: header-one
		#	images:
		#		header-one: header-one.png
		#		header-two: header-two.png
		#		header-three: header-three.png
		#		header-four: header-four.png
		#	default:
		#		header-one: Header One
		#		header-two: Header Two
		#		header-three: Header Three
		#		header-four: Header Four
		#	help: "Select type of website header"

		logo:
			label: Website Logo
			type: image
			default: '/design/img/logo_new.png'
			help: "Logo image for website header"

		headItems:
			label: Header Items
			type: clone
			max: 3
			help: 'Add new Item by click on "+ Add New Item" link, or remove existing Item by clicking on red cross. Click on "Remove All Items" link to remove all existing Items.'
			items:
				label:
					label: Label
					type: text
					help: "Item icon title"
				mainIcon:
					label: Main Icon
					type: font-awesome-select
					less: false
					help: "Class of icon from FontAwesome - disable Icon Image"
				#mainText:
				#	label: Main Text
				#	type: text
				#	less: false
				url:
					label: Link
					type: url
					help: "Item icon link, use valid URL format with http://"
			default:
				0:
					label: "099 - 123 425 68"
					mainIcon: "fa-phone"
				#	mainText: ""
					url: ""
				1:
					label: "Ristorante street, Dublin"
					mainIcon: "fa-envelope"
				#	mainText: ""
					url: ""
		headbg:
			label: Header Background
			type: background
			default:
				color: '#464646'
				opacity: 60%
				image: '/design/img/patterns/sand.png'
				repeat: repeat
				position: top center
				scroll: scroll
			help: "Look of section background. Color, opacity and background image."

		stickyMenu:
			label: Sticky Menu
			type: on-off
			default: on
			help: "Enable or disable sticky menu on website"



		- section(title: 'Main Menu Colors and Backgrounds')

		menubg:
			label: Background
			type: color
			default: '#464646'
			opacity: 60%
			required: true
			help: "Background color and opacity of main menu"

		menuColor:
			label: Menu Items
			type: color
			default: '#ffffff'
			help: "Color of menu items text"

		menuHvrColor:
			label: Menu Hover Items
			type: color
			default: '#ffffff'
			help: "Hover Color of menu items text"

		menuColorAct:
			label: Active Menu Item
			type: color
			default: '#ffffff'
			help: "Color of active menu item text"

		- section(title: Custom JavaScript Code)

		customJsCode:
			label: JavaScript Code
			type: multiline-code
			default: ''
			help: "Place for your custom Javascript codes"


footer:
	title: Footer
	options:
		- section(title: 'Footer Widgets Area')

		footerbg:
			label: Background
			type: background
			default:
				color: '#464646'
				opacity: 100%
				image: '/design/img/patterns/sand.png'
				repeat: repeat
				position: top center
				scroll: scroll
			help: "Look of section background. Color, opacity and background image."
			required: true

		titFwColor:
			label: Titles
			type: color
			default: '#ffffff'
			help: "Color of widget titles"

		txtFwColor:
			label: Text
			type: color
			default: '#ffffff'
			help: "Color of plain text"

		lnkFwColor:
			label: Links
			type: color
			default: '#d30000'
			help: "Color of links"

		decFwColor:
			label: Decoration
			type: color
			default: '#d30000'
			help: "Decorative color of some elements and links with mouse cursor over"


		- section(title: 'Footer Bar')

		FtText:
			label: Text Area Width
			type: number
			unit: %
			default: 40
			help: "Percentage width of area"

		FtMenu:
			label: Menu Area Width
			type: number
			unit: %
			default: 40
			help: "Percentage width of area"

		bgColor:
			label: Background
			type: color
			default: '#ffffff'
			opacity: 100%
			help: "Background color and opacity of footer bar"

		txtColor:
			label: Text
			type: color
			default: '#464646'
			help: "Color of plain text"

		lnkColor:
			label: Links
			type: color
			default: '#d30000'
			help: "Color of links"

		hvrColor:
			label: Links Hover
			type: color
			default: '#d30000'
			help: "Color of links with mouse cursor over"

		text:
			label: Text Area
			type: editor
			default: '<p>&copy; 2013 Copyright by <a href="http://www.ait-themes.club">AIT-Themes</a>. All rights reserved.</p>'
			help: "Text displayed in footer bar text area"

		- section(title: Custom JavaScript Code)

		customJsCode:
			label: JavaScript Code
			type: multiline-code
			default: ''
			help: "Place for your custom Javascript codes"

typography:
	title: Typography
	options:
		mainFont:
			label: Main Website Font
			type: font-select
			choices:
				theme:
					label: Theme Default Font
					font-family: 'Open Sans'
				system:
					label: System font
					font-family: 'Arial, sans-serif'
				google:
					label: Google Fonts
			default: google@Roboto Condensed

			- section(title: Font Sizes)

		txtSize:
			label: Standard Text
			type: number
			unit: px
			default: 12
			help: "Basic text size in px"

		tnSize:
			label: Tiny Text
			type: number
			unit: px
			default: 10
			help: "Tiny text size in px"

		smlSize:
			label: Small Text
			type: number
			unit: px
			default: 11
			help: "Small text size in px"

		decSize:
			label: Decoration Text
			type: number
			unit: px
			default: 14
			help: "Size of decoration texts, buttons and other texts in px"

		mnuSize:
			label: Main Menu Text
			type: number
			unit: px
			default: 14
			help: "Menu text size in px"

		h1Size:
			label: H1
			type: number
			unit: px
			default: 40
			help: "Size of H1 titles in px"

		h2Size:
			label: H2
			type: number
			unit: px
			default: 26
			help: "Size of H2 titles in px"

		h3Size:
			label: H3
			type: number
			unit: px
			default: 22
			help: "Size of H3 titles in px"

		h4Size:
			label: H4
			type: number
			unit: px
			default: 18
			help: "Size of H4 titles in px"

		h5Size:
			label: H5
			type: number
			unit: px
			default: 16
			help: "Size of H5 titles in px"

		h6Size:
			label: H6
			type: number
			unit: px
			default: 14
			help: "Size of H6 titles in px"

breadcrumbs:
	title: Breadcrumbs
	options:
		separator:
			label: Separator
			type: code
			default: '&raquo;'
			help: "Separator used between links in breadcrumbs"

		before:
			label: Breadcrumbs Text
			type: text
			default: 'You are here:'
			help: "Text displayed before breadcrumbs"

		showHome:
			label: Text for "Home"
			type: text
			default: "Home"
			help: "Text for home link in breadcrumbs"

		network:
			label: Website Title
			type: on-off
			default: off
			help: "Display current website title in breadcrumbs. Have not any effect on standard Wordpress installation, only on Wordpress Multisite installation."

# Allows adding sidebars and widget areas from theme admin
@widgetAreasAndSidebars:
	title: 'Sidebars & Widget Areas'
	options:

		- section(title: Sidebars, help: 'Add new Sidebar by click on "+ Add New Item" link, or remove existing Sidebar by clicking on red cross.')


		@sidebar:
			label:
			type: clone
			min: 1
			max: 10
			removeAll: false
			sort: false
			items:
				name:
					label: Name
					type: text
					help: "Name of widget area displayed in Widgets options"
			default:
				0:
					name: 'General (Subpage)'
				1:
					name: Homepage
				2:
					name: Blog
				3:
					name: Blog Post
				4:
					name: Portfolio Item

		- section(title: Header Widget Area, help: 'Add new Header Widget Area by click on "+ Add New Item" link, or remove existing Header Widget Area by clicking on red cross.')

		header:
			type: clone
			min: 1
			max: 1
			removeAll: false
			sort: false
			items:
				name:
					label: Name
					type: text
					default: ''
					help: "Name of widget area displayed in Widgets options"
#				width:
#					label: Width
#					type: number
#					unit: %
#					default: 25
			default:
				0:
					name: Header Widget Area
								

		- section(title: Footer Widget Areas, help: 'Add new Footer Widget Area by click on "+ Add New Item" link, or remove existing Footer Widget Area by clicking on red cross.')

		footer:
			type: clone
			min: 1
			max: 6
			removeAll: false
			sort: false
			items:
				name:
					label: Name
					type: text
					default: ''
					help: "Name of widget area displayed in Widgets options"
				width:
					label: Width
					type: number
					unit: %
					default: 25
					help: "Percentage width of area"
			default:
				0:
					name: Footer Widget Area 1
					width: 40
				1:
					name: Footer Widget Area 2
					width: 20
				2:
					name: Footer Widget Area 3
					width: 20
				3:
					name: Footer Widget Area 4
					width: 20



google:
	title: Google
	options:

		analyticsTrackingId:
			label: Google Analytics Tracking ID
			type: code
			help: "Google Analytics Tracking ID in form UA-XXXXX-YY"
		mapsApiKey:
			label: Google Maps API key
			type: code

social:

	title: Social Icons 
	options:

		enableSocialIcons:
			label: Display
			type: on-off
			default: on
			help: "Display social icons on website"

		socbg:
			label: Background
			type: color
			default: '#000000'
			opacity: 0%
			help: "Background color and opacity of icons"

		socIconsNewWindow:
			label: Open In New Window
			type: on-off
			default: on
			help: 'Open links in new window or tab'

		socIcons:
			label: Social Icons
			type: clone
			max: 10
			help: 'Add new Social Icon by click on "+ Add New Item" link, or remove existing Social Icon by clicking on red cross. Click on "Remove All Items" link to remove all existing Social Icons.'
			items:
				title:
					label: Title
					type: text
					help: "Social icon title"
				icon:
					label: Icon Light
					type: image
					less: false
					help: "Social icon image"
				iconDark:
					label: Icon Dark
					type: image
					less: false
					help: "Social icon image"
				url:
					label: Link
					type: url
					help: "Social icon link, use valid URL format with http://"
			default:
				0:
					title: Facebook
					icon: '/design/img/ico/ico_facebook.png'
					iconDark: '/design/img/ico/ico_facebook_dark.png'
					url: 'http://www.facebook.com/AitThemes'
				1:
					title: Twitter
					icon: '/design/img/ico/ico_twitter.png'
					iconDark: '/design/img/ico/ico_twitter_dark.png'
					url: 'http://www.twitter.com/AitThemes'
				2:
					title: 'Google+'
					icon: '/design/img/ico/ico_gplus.png'
					iconDark: '/design/img/ico/ico_gplus_dark.png'
					url: 'https://plus.google.com/116003390334141481363'
				3:
					title: LinkedIn
					icon: '/design/img/ico/ico_linkedin.png'
					iconDark: '/design/img/ico/ico_linkedin_dark.png'
					url: 'http://www.linkedin.com/company/ait-themes-com'
iconmenu:

	title: Icon Menu 
	options:

		enableIcons:
			label: Display
			type: on-off
			default: on
			help: "Display Icon Menu on website"



		Icons:
			label: Icon Menu
			type: clone
			max: 4
			help: 'Add new item to Icon menu by click on "+ Add New Item" link, or remove existing item by clicking on red cross. Click on "Remove All Items" link to remove all existing items.'
			items:
				title:
					label: Title
					type: text
					help: "Icon title"
				titleColor:
					label: Title Color
					type: color
					less: false
					help: "Title color of item"	
				text:
					label: Text
					type: text
					help: "Icon text"	
				color:
					label: Decoration Color
					type: color
					less: false
					help: "Decoration color of item"
				icon:
					label: Icon
					type: image
					less: false
					help: "Icon image"
				url:
					label: Link
					type: url
					help: "Icon link, use valid URL format with http://"
			default: []

		- section(title: Custom JavaScript Code)

		customJsCode:
			label: JavaScript Code
			type: multiline-code
			default: ''